body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
}

.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid red;
    margin: 30px;
    background-color: lightblue;
    text-align: center;
}
